.FirstCategorie {
  display: flex;
  padding-top: 0px;
}

li {
  list-style: none;
  margin-left: auto;
}

#Cinema {
  display: block;
}

#c {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  margin-right: 70px;
}
#Ih {
  margin-left: 47%;
  margin-top: 5px;
  font-size: 20px;
  font-family: "Gabriela";
}

.SecondCategorie {
  display: flex;
  padding-top: 0px;
}

#Sports {
  display: block;
}

#s {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  margin-right: 70px;
}
#Is {
  margin-left: 47%;
  margin-top: 5px;
  font-size: 20px;
  font-family: "Gabriela";
}

.ThirdCategorie {
  display: flex;
  padding-top: 0px;
}

#Politics {
  display: block;
}

#p {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  margin-right: 70px;
}
#Ip {
  margin-left: 47%;
  margin-top: 5px;
  font-size: 20px;
  font-family: "Gabriela";
}
